<!DOCTYPE html>

<head>
    <!-- <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title></title>
    <!-- <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css\uikit.min.css" />
    <link rel="stylesheet" href="css\stylesheet.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>


<body>

    <!-- ======================== Opening Welcome Menu ======================== -->
    <!-- <div id="instruct"  uk-scrollspy="cls: uk-animation-fade; target: .fade-in-target; delay: 1000">
        <div class="fade-in-target" uk-slideshow="animation: fade;">

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" >
                <div class="uk-card uk-card-default uk-card-body">
                <ul class="uk-slideshow-items">
                    <li>
                        <img src="imgs\instruct-logo.png" alt="" class="instruct-img">
                        <h1>Welcome!</h1>
                        <p>
                            Welcome to OTD's custom order system. Read through these short instructions before getting start 
                            on designing your own custom order, reviewing a rough price estimate, and submitting your 
                            design to start a dialgue with one of our custom sales representives.
                        </p>
                    </li>
                    <li>
                        <img src="imgs\instruct-1.svg" alt="" class="instruct-img"> 
                        <h1>Step One</h1>
                        <p>
                             Step one is to select what garment you would like ordered. If you don't see what exactly meets your 
                             needs pick the closest garment possible and let us know what you are specifically looking for in the "additional
                             notes" section. 
                        </p>
                    </li>
                    <li>
                        <img src="imgs\instruct-2.svg" alt="" class="instruct-img"> 
                        <h1>Step Two</h1>
                        <p>
                            Step two is giving us info that helps us stay in contact and also calculate a rough estimate. 
                            Make sure to fill out all detail so that you are able to submit your order when finished.
                        </p>
                    </li>
                    <li>
                        <img src="imgs\instruct-3.svg" alt="" class="instruct-img"> 
                        <h1>Step Three</h1>
                        <p>
                            Step three is inputing your custom selections to make your order yours.
                            Once done make sure to hit submit at the bottom and it will begin an email thread
                            between our custom sales team and the email details you provided.
                        </p>
                    </li>
                    <li>
                        <img src="imgs\instruct-email.svg" alt="" class="instruct-img"> 
                        <h1>Contact Us</h1>
                        <p>
                            This app is currently in beta. If you come across any bugs
                            or major issues when trying to fill out your details, please email us
                            at:
                            <br/> 
                            <a href="mailto:otdsales@gmail.com">otdsales@gmail.com</a>
                        </p>
                    </li>
                </ul>
                </div>

                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>
        
        </div>
        <div class="center-recaptcha">
            <div class="g-recaptcha fade-in-target" data-sitekey="6LeMZb8UAAAAAJwQpUepBeucriP8rFJqVIG6Gy3v" data-callback="recaptchaCallback"></div>
        </div>
        <button class="uk-button uk-button-default fade-in-target" id="start-design" disabled>START YOUR DESIGN</button>
    </div>
    <div id="instruct-bg"></div> -->
    <div id="beta" title="You may find minor bugs and some functionality has not yet been implemented.&#013; If you come across any major issues, email: otdsales@gmail.com">
        <p>Beta</p>
    </div>
    <div class="content" uk-grid>

        <!-- ========================Left side main menu ======================== -->
        <div id="width-left" class="uk-width-2-3@l">
            <div id="main-card" class="uk-card uk-card-default uk-card-body">


                <!-- ======================== Top level menu ======================== -->
                <div id="top-level-menu" uk-switcher="animation: uk-animation-fade; toggle: > *">
                    <button id="top-level-left" class="uk-button uk-button-default uk-text-nowrap" type="button">1. Choose Apparel</button>
                    <button class="uk-button uk-button-default uk-text-nowrap" type="button">2. Order Details</button>
                    <button id="top-level-right" class="uk-button uk-button-default uk-text-nowrap" type="button">3. Add Customization</button>
                </div>
                <ul class="uk-switcher uk-margin">


                    <!-- ======================== 1. Garment Choices ======================== -->
                    <li>

                        <!--  Garment Menu  -->
                        <ul class="uk-child-width-expand second-level-menu" uk-tab>
                            <li id="clothing-menu-left"><a href="#">Tees and Tanks</a></li>
                            <li><a href="#">Sweaters and Sleeves</a></li>
                            <li><a href="#">Pants and Shorts</a></li>
                            <li id="clothing-menu-right"><a href="#">Accessories and Hats &nbsp;&nbsp;&nbsp;</a></li>
                        </ul>


                        <ul class="uk-switcher">
                            <li id="tees-menu" class="clothing-items">
                                <div class="uk-child-width-1-3@s uk-text-center" uk-grid>

                                    
                                    <% allRecords.forEach(function(record){ %>
                                    <% if(record.get('Product Category')=="Tees and Tanks"){%>
                                    <div class="clothing-option" value= <%=record.id%>>
                                        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                                            <img class="clothing-option" value=<%=record.id%> src="<%= record.get('Default Image') && record.get('Default Image')[Object.keys(record.get('Default Image'))[0]].url; %>">
                                            <h6 class="name"> <%= record.get('Display Name') %> </h6>
                                            <p class="colors"><%= record.get('Count') %>+ Colors... </p>
                                            <p class="price">Starts at $<%= record.get('Starting Price') %>.00</p>
                                        </div>
                                    </div>
                                    <%}%>
                                   <%})%>

                                </div>
                                <div class="clothing-menu-bottom-space"></div>
                            </li>

                            <li id="sweaters-menu" class="clothing-items">
                                <div class="uk-child-width-1-3@s uk-text-center" uk-grid>
                                    <% allRecords.forEach(function(record){ %>
                                    <% if(record.get('Product Category')=="Sweaters and Sleeves"){%>
                                    <div class="clothing-option" value=<%=record.id%>>
                                        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                                            <img class="clothing-option" value=<%=record.id%> src="imgs\tee.jpg">
                                            <h6 class="name"> <%= record.get('Name') %> </h6>
                                            <p class="colors"><%= record.get('Color Options') %>+ Colors... </p>
                                            <p class="price">Starts at $<%= record.get('AMS Price Small') %>.00</p>
                                        </div>
                                    </div>
                                    <%}%>
                                   <%})%>
                                </div>
                                <div class="clothing-menu-bottom-space"></div>


                            </li>

                            <li id="pants-menu" class="clothing-items">
                                <div class="uk-child-width-1-3@s uk-text-center" uk-grid>
                                    <% allRecords.forEach(function(record){ %>
                                    <% if(record.get('Product Category')=="Pants and Shorts"){%>
                                    <div class="clothing-option" value=<%=record.id%>>
                                        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                                            <img class="clothing-option" value=<%=record.id%> src="imgs\tee.jpg">
                                            <h6 class="name"> <%= record.get('Name') %> </h6>
                                            <p class="colors"><%= record.get('Color Options') %>+ Colors... </p>
                                            <p class="price">Starts at $<%= record.get('AMS Price Small') %>.00</p>
                                        </div>
                                    </div>
                                    <%}%>
                                   <%})%>
                                </div>
                                <div class="clothing-menu-bottom-space"></div>
                            </li>

                            <li id="accessories-menu" class="clothing-items">
                                <div class="uk-child-width-1-3@s uk-text-center" uk-grid>
                                    <% allRecords.forEach(function(record){ %>
                                    <% if(record.get('Product Category')=="Accessories and Hats"){%>
                                    <div class="clothing-option" value=<%=record.id%>>
                                        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                                            <img class="clothing-option" value=<%=record.id%> src="imgs\tee.jpg">
                                            <h6 class="name"> <%= record.get('Name') %> </h6>
                                            <p class="colors"><%= record.get('Color Options') %>+ Colors... </p>
                                            <p class="price">Starts at $<%= record.get('AMS Price Small') %>.00</p>
                                        </div>
                                    </div>
                                    <%}%>
                                   <%})%>
                                </div>
                                <div class="clothing-menu-bottom-space"></div>
                            </li>
                        </ul>

                    </li>

                    <!-- ======================== 2. Info input form ======================== -->
                    <li id="order-details">

                        <div id="custom-quantity">
                            <h4>Order Quantity</h4>
                            <p>Please review and complete the order details below</p>
                            <div class="uk-form-controls">
                                    <input class="uk-input" id="quantity" type="number" placeholder="69">
                        </div>

                        <hr>

                        <div id="contact-details">
                            <h4>Contact Details</h4>
                            <p>Please fill out the contact detials below</p>
                            

                            <form class="uk-form-horizontal uk-margin-large">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="full-name">Full Name</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="full-name" type="text" placeholder="John Doe">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="email">Email Address</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="email" type="email" placeholder="@queensu.ca">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="phone">Phone Number</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="phone" type="phone" placeholder="999-999-9999">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="org">Your Organization</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="org" type="tel" placeholder="Oil Thigh Designs">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="ratified">Ratified Under</label>
                                <div class="uk-form-controls">
                                    <select class="uk-select" id="ratified">
                                        <option value =""></option>
                                        <option value ="comsoc">COMSOC</option>
                                        <option value ="ams">AMS</option>
                                        <option value ="neither">Neither</option>
                                    </select>
                                </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="notes">Additional Notes</label>
                                <textarea class="uk-textarea" rows="5" placeholder="" id="notes"></textarea>
                            </div>
                            </form>   
                        </div>
                    </div>


                    
                    <div class="scroll-bottom-space"></div>
                    </li>

                    <!-- ======================== 3. Customization ======================== -->
                    <li id="customization-items">
                        <div id="custom-color">
                            <h4>Select Clothing Color</h4>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <% allColors.forEach(function(record){ %>
                            <span class="dot" title= <%= record.get("Name");%> value= <%= record.get("Hex");%> style="background-color:<%= record.get("Hex");%>" id= <%= record.id ;%> hidden></span>
                            <% }); %>

                            <hr>
                        </div>
                        <div id="custom-upload-logo">
                            <h4>Add Logo</h4>
                            <p>Upload a high quality PNG image of your custom logo</p>
                            <div class="js-upload" uk-form-custom>
                                <input type="file" accept="image/png" id="logo-upload">
                                <button id="logo-upload-button" class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
                            </div>
                            <div id="logo-canvas-div"><canvas class="uk-card uk-card-default" id="logo-canvas"></canvas></div>
                            <hr>
                        </div>
                       
                        <div id="custom-logo-position">
                            <h4>Logo Position</h4>
                            <p>Select from the avaliable locations where you would like your logo printed.</p>
                            <form>
                                <div uk-form-custom="target: > * > span:first-child">
                                    <select id="logo-position-options">
                                        <option value="">Please select...</option>
                            
                                    </select>
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                        <span></span>
                                        <span uk-icon="icon: chevron-down"></span>
                                    </button>
                                </div>
                            </form>
                            <hr>
                        </div>

                        <div id="custom-logo-size">
                            <h4>Logo Size</h4>
                            <p>Select size of your logo.</p>
                            <form>
                                <div uk-form-custom="target: > * > span:first-child">
                                    <select id="logo-size">
                                        <option value="3">Please select...</option>
                                        <option value="2">small</option>
                                        <option value="3">medium</option>
                                        <option value="4">large</option>
                            
                                    </select>
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                        <span></span>
                                        <span uk-icon="icon: chevron-down"></span>
                                    </button>
                                </div>
                            </form>
                            <hr>
                        </div>

                        <div id="custom-logo-print">
                            <h4>Screen Print or Stitching</h4>
                            <div class="uk-column-1-2 uk-column-divider">
                                <p>
                                    Screen Print is recommended for logos with less colors. Cost is calculated through the
                                    number of colors detected in your logo.
                                </p>
                                <p>
                                    Stitching is recommended for logos with many colors. Cost is calculated through %
                                    of your image that is not transparent. 
                                </p>
                            </div>
                            <div class="uk-column-1-2 uk-column-divider">
                                <h1 id="print" class="uk-text-danger uk-text-large">---</h1>
                                <h1 id="stitch" class="uk-text-danger uk-text-large">---</h1>
                            </div>
                            <div class="uk-column-1-2 uk-column-divider">
                                <div> <button id="select-print" class="uk-button uk-button-default">Select Screen Print</button> </div>
                                <div> <button id="select-stitch" class="uk-button uk-button-default">Select Stitching</button> </div>
                            </div>

                            <hr>
                        </div>

                        <div id="custom-list-upload">
                            <h4>Custom Text</h4>
                            <p>Upload a csv or excel file. <a href="imgs\OTD Order Print Details.xlsx">Click here</a> to download template.</p>
                            <div class="js-upload" uk-form-custom>
                                <input type="file" id="text-upload">
                                <button id="text-upload-button" class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
                            </div>
                            <hr id="custom-list-hr">
                        </div>

                        <div id="custom-list-options">
                            <h4>Text Position</h4>
                            <p>Select from the avaliable locations where you would like your custom text printed.</p>
                            <form>
                                <div uk-form-custom="target: > * > span:first-child">
                                    <select id="text-position-options">
                                        <option value="">Please select...</option>
                                        <option value="Left Sleeve">Left Sleeve</option>
                                        <option value="Right Sleeve">Right Sleeve</option>
                                        <option value="Back of Garment">Back of Garment</option>
    
                                    </select>
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                        <span></span>
                                        <span uk-icon="icon: chevron-down"></span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="scroll-bottom-space"></div>
                    </li>
                </ul>





            </div>
        </div>



        <!-- ======================== live Preview ======================== -->
        <div id="width-right" class="uk-width-1-3@m">

            <div id="clothing-card" class="uk-card uk-card-default uk-card-body">
                
                <div id="live-coming-soon">
                    <h2>Live preview is coming soon!</h2>
                </div>
                <img src="imgs\tee.jpg">
                
            </div>
            <div id="color-options">
                <span uk-icon="icon: chevron-left; ratio: 1.5"></span>
                <span uk-icon="icon: chevron-right; ratio: 1.5"></span>
            </div>
        </div>
    </div>

    <!-- ======================== Submit Footer ======================== -->
    <div id="submit-footer" class="uk-card uk-card-default">
        <div class="uk-column-1-2">
            <div id="left-submit">
                <p>Estimated Total</p>
                <h2 id="estimate">$0.00</h2>
            </div>
            <div id="right-submit">
                <button class="uk-button uk-button-default" id="submit"><p>Submit Order</p></button>
            </div>
        </div>
    </div>








    <!-- UIkit JS and JS -->
    <script src="js\uikit.min.js"></script>
    <script src="js\uikit-icons.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js\fetch.js"></script>
    <script src="js\orderDetails.js"></script>
    <script src="js\eventHandlers.js"></script>
</body>

</html>